plotly
pandas
matplotlib
pandas-datareader==0.10.0
streamlit==1.10.0
investpy
yahoo-fin==0.8.9.1
yfinance
seaborn
feedparser==6.0.8
sklearn
keras
Keras-Preprocessing
nltk==3.7
plotly==5.1.0
tensorflow
tensorflow-estimator
numpy
